codeclimate-test-reporter==0.1.2
coverage==4.2
extras==1.0.0
fixtures==3.0.0
linecache2==1.0.0
mkdocs==0.15.3
mox3==0.18.0
pbr==1.10.0
py==1.4.31
pyfakefs==2.7
pytest==3.0.2
pytest-cov==2.3.1
pytest-runner==2.9
python-mimeparse==1.5.2
PyYAML==3.12
requests==2.11.1
six==1.10.0
testtools==2.2.0
traceback2==1.4.0
unittest2==1.1.0
